---
import { UserWallet } from '@components/UserWallet/UserWallet';
import Layout from '@layouts/Layout.astro';

import styles from './wallet.module.scss';
---

<Layout title="Welcome to Astro.">
  <main>
    <section class={styles.container}>
      <h1>Wallet</h1>
      <UserWallet client:load />
    </section>
  </main>
</Layout>
